%header-font {
	font-family: ccmonstermashoutline, sans-serif;
	font-weight: 400;
	font-style: normal;
}

%roboto-condensed-italic {
	font-family: roboto-condensed, sans-serif;
	font-weight: 400;
	font-style: italic;
}

%roboto-condensed-regular {
	font-family: roboto-condensed, sans-serif;
	font-weight: 400;
	font-style: normal;
}

%roboto-condensed-bold-italic {
	font-family: roboto-condensed, sans-serif;
	font-weight: 700;
	font-style: italic;
}

%roboto-condensed-bold {
	font-family: roboto-condensed, sans-serif;
	font-weight: 700;
	font-style: normal;
}

%center-center-flexbox {
	display: flex;
	justify-content: center;
	align-items: center;
}
